root = true

# 모든 파일
[*]

### 코어 EditorConfig 옵션 ###

# 인코딩
charset = utf-8

# 들여쓰기 및 간격
indent_style = space
indent_size = 4

# 줄 설정
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 마크다운 파일
[*.md]
trim_trailing_whitespace = false